@media (min-width: 0) {
  $inner_left: 113px;
  $target_inner_left: 30px;
  $inner_right: 130px;
  $target_inner_right: 30px;

  .about-us {
    display: flex;
    justify-content: center;
  }

  .about-us__inner {
    position: relative;
    display: flex;
    width: $desktop-container-width;
    padding: 75px $inner_right 96px $inner_left;
  }

  .about-us__image {
    flex-shrink: 0;
    width: 210px;
    height: 317px;
    margin: 5px 0 0 0;
    background: url("#{$prefix-css-img}year2005-desktop@1x.png") no-repeat 0 0;

    @include bg-retina("year2005-desktop@2x.png");
    background-size: 220px 317px;
  }

  .about-us__inner h2 {
    margin: 0 0 21px 0;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    color: #666666;
  }

  .about-us__container {
    display: flex;
    flex-direction: column;
  }

  .about-us__inner p {
    position: relative;
    margin: 0 0 20px 0;
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
  }

  .about-us__tablet-text {
    display: none;
  }

  .about-us__inner a {
    display: block;
    width: 180px;
    height: 45px;
    margin-top: 19px;
    padding: 14px 25px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-blue;
    border: 1px solid $color-blue;
    border-radius: 5px;
  }

  .about-us__inner a:hover {
    opacity: 0.6;
  }

  .about-us__inner a:active {
    opacity: 0.3;
  }

  @media (max-width: $desktop-container-width - 1) and (min-width: $desktop-width) {
    $dcw: $desktop-container-width;
    $dw: $desktop-width;
    $pl_coefficient: ($inner_left - $target_inner_left) / ($dcw - $dw);
    $pr_coefficient: ($inner_right - $target_inner_right) / ($dcw - $dw);

    .about-us__inner {
      padding-left: calc(#{$inner_left} - (#{$dcw} - 100vw) * #{$pl_coefficient});
      padding-right: calc(#{$inner_right} - (#{$dcw} - 100vw) * #{$pr_coefficient});
    }
  }

  @media (max-width: $desktop-width - 1) {
    .about-us__inner {
      width: $tablet-width;
      padding: 26px 20px 0;
    }

    .about-us__image {
      width: 192px;
      height: 362px;
      margin: 0 0 0 0;
      background: url("#{$prefix-css-img}year2005-tablet@1x.png") no-repeat -21px -2px;

      @include bg-retina("year2005-tablet@2x.png");
      background-size: 244px 362px;
    }

    .about-us__inner h2 {
      margin: 0 0 26px -3px;
      font-size: 32px;
      line-height: 140.62%;
    }

    .about-us__tablet-text {
      display: inline;
    }

    .about-us__desktop-text {
      display: none;
    }

    .about-us__inner a {
      margin-top: 21px;
    }
  }

  @media (max-width: $tablet-width - 1) {
    .about-us__inner {
      width: $mobile-width;
      padding: 16px 14px 0;
    }

    .about-us__image {
      display: none;
    }

    .about-us__inner h2 {
      margin: 0 0 20px;
      font-size: 28px;
    }

    .about-us__inner p {
      margin: 0 0 40px 3px;
    }

    .about-us__inner p:last-child {
      margin-bottom: 28px;
    }

    .about-us__inner a {
      margin: 0 0 0 3px;
    }
  }
}
