.main-top {
  position: relative;
}

.main-top__bg {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $color-dark;
}

.main-top__bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: $color-dark url("#{$prefix-css-img}top-bg@1x.jpg") no-repeat 0 0;

  @include bg-retina("top-bg@2x.jpg");
  background-size: cover;
  opacity: 0.2;
}
