.main-nav {
  display: flex;
  justify-content: center;
  padding: 33px 0 30px 0;
}

.main-nav__inner {
  display: flex;
  flex-wrap: wrap;
  width: $desktop-container-width;
  padding: 0 8px 0 21px;
}

.main-nav__mail {
  align-self: flex-start;
  margin-top: 17px;
  margin-left: auto;
}

.main-nav__mail a {
  position: relative;
  display: block;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}

.main-nav__mail a:hover {
  opacity: 0.6;
}

.main-nav__mail a:active {
  opacity: 0.3;
}

.main-nav__mail a svg {
  position: absolute;
  left: 0;
  top: 2px;
}

.main-nav__mail a span {
  padding-left: 39px;
}

.main-nav__phone {
  align-self: flex-start;
  margin-top: 17px;
  margin-left: 88px;
}

.main-nav__phone a {
  position: relative;
  display: block;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}

.main-nav__phone a:hover {
  opacity: 0.6;
}

.main-nav__phone a:active {
  opacity: 0.3;
}

.main-nav__phone a svg {
  position: absolute;
  left: 0;
  top: 0;
}

.main-nav__phone a span {
  padding-left: 34px;
}

.main-nav__recall {
  display: flex;
  align-items: flex-start;
  margin-left: 49px;
  margin-top: 4px;
}

.main-nav__recall a {
  min-width: 180px;
  padding: 14px 20px 13px 26px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.main-nav__recall a:hover {
  opacity: 0.6;
}

.main-nav__recall a:active {
  opacity: 0.3;
}

@media (max-width: $desktop-width - 1) {
  @mixin tablet {
    a {
      svg {
        position: relative;
        display: block;
      }

      span {
        @include visually-hidden;
        padding-left: 0;
      }
    }
  }

  .main-nav {
    padding: 20px 0 30px 0;
  }

  .main-nav__inner {
    width: $tablet-container-width;
    padding: 0 25px 0 25px;
  }

  .main-nav__mail {
    @include tablet;
    margin-top: 15px;
  }

  .main-nav__mail a {
    padding-left: 0;
  }

  .main-nav__mail a svg {
    width: 25px;
    height: 19px;
  }

  .main-nav__phone {
    @include tablet;
    margin-top: 12px;
    margin-left: 34px;
  }

  .main-nav__phone a svg {
    width: 24px;
    height: 24px;
  }

  .main-nav__recall {
    display: none;
  }
}

@media (max-width: $tablet-width - 1) {
  .main-nav {
    padding: 17px 0 30px 0;
  }

  .main-nav__inner {
    width: $mobile-width;
    padding: 0 15px 0 17px;
  }

  .main-nav__mail {
    margin-top: 8px;
  }

  .main-nav__phone {
    margin-top: 5px;
    margin-left: 24px;
  }
}
