@media (min-width: 0) {
  $left-indent: 97px;
  $column-width: 750px;

  .main-screen {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .main-screen__bg {
    $width: $desktop-container-width;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("#{$prefix-css-img}motherboard@1x.png") calc((100vw - #{$width}) / 2 + 798px) 143px no-repeat,
      url("#{$prefix-css-img}triangles-desktop.svg") calc((100vw - #{$width}) / 2 + 790px) 3px no-repeat;

    @media (max-width: $desktop-container-width - 1) {
      background: url("#{$prefix-css-img}motherboard@1x.png") 798px 143px no-repeat,
        url("#{$prefix-css-img}triangles-desktop.svg") 790px 3px no-repeat;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("#{$prefix-css-img}motherboard@2x.png"),
        url("#{$prefix-css-img}triangles-desktop.svg");
    }
    background-size: 705px 515px, 671px 641px;
  }

  .main-screen__scroll-down {
    position: absolute;
    left: 37px;
    bottom: 89px;
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    transform-origin: left bottom;
    transform: rotate(-90deg);
  }

  .main-screen__scroll-down a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.5;
  }

  .main-screen__scroll-down a:hover {
    opacity: 0.3;
  }

  .main-screen__scroll-down a:active {
    opacity: 0.1;
  }

  .main-screen__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: $desktop-container-width;
    padding: 200px 18px 275px 18px;
  }

  .main-screen__inner h1 {
    max-width: $column-width;
    margin: 0 0 27px 0;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #ffffff;
  }

  .main-screen__inner p {
    position: relative;
    max-width: $column-width;
    margin: 0 0 44px 0;
    padding-left: $left-indent;
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    color: #ffffff;
  }

  .main-screen__inner p::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 17px;
    width: 66px;
    height: 2px;
    background-color: #ffffff;
  }

  .main-screen__inner > a {
    display: block;
    max-width: $column-width - $left-indent;
    min-height: 55px;
    margin-left: $left-indent;
    padding: 17px 46px 17px 45px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background: #00b2ff;
    border-radius: 5px;
  }

  .main-screen__inner > a:hover {
    opacity: 0.6;
  }

  .main-screen__inner > a:active {
    opacity: 0.3;
  }

  @media (max-width: $desktop-width - 1) {
    $left-indent: 51px;
    $column-width: 410px;

    .main-screen__bg {
      $width: $tablet-container-width;
      $x1: 502px;
      $y1: 43px;
      $x2: 432px;
      $y2: -55px;
      top: -32px;
      background: url("#{$prefix-css-img}motherboard-tablet@1x.png") calc((100vw - #{$width}) / 2 + #{$x1}) $y1 no-repeat,
        url("#{$prefix-css-img}triangles-tablet.svg") calc((100vw - #{$width}) / 2 + #{$x2}) $y2 no-repeat;

      @media (max-width: $tablet-container-width - 1) {
        background: url("#{$prefix-css-img}motherboard-tablet@1x.png") $x1 $y1 no-repeat,
          url("#{$prefix-css-img}triangles-tablet.svg") $x2 $y2 no-repeat;
      }

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("#{$prefix-css-img}motherboard@2x.png"),
          url("#{$prefix-css-img}triangles-tablet.svg");
      }
      background-size: 465px 340px, 529px 451px;
    }

    .main-screen__scroll-down {
      display: none;
    }

    .main-screen__inner {
      width: $tablet-container-width;
      padding: 86px 18px 163px 88px;
    }

    .main-screen__inner h1 {
      max-width: $column-width;
      margin: 0 0 29px 0;
      font-size: 60px;
      line-height: 70px;
    }

    .main-screen__inner p {
      max-width: $column-width;
      margin: 0 0 55px 0;
      padding-left: $left-indent;
      font-size: 18px;
      line-height: 156.8%;
    }

    .main-screen__inner p::before {
      top: 16px;
      width: 33px;
    }

    .main-screen__inner > a {
      max-width: 379px;
      margin-left: $left-indent;
      padding: 17px 31px 17px 31px;
    }
  }

  @media (max-width: $tablet-width - 1) {
    .main-screen__bg {
      $width: $tablet-width;
      background: url("#{$prefix-css-img}motherboard-mobile@1x.png") calc((100vw - #{$width}) / 2 + 250px) 39px no-repeat,
        url("#{$prefix-css-img}triangles-mobile.svg") calc((100vw - #{$width}) / 2 + 376px) -99px no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("#{$prefix-css-img}motherboard@2x.png"),
          url("#{$prefix-css-img}triangles-mobile.svg");
      }
      background-size: 301px 220px, 506px 483px;
    }

    .main-screen__inner {
      width: $mobile-width;
      padding: 201px 15px 70px 15px;
    }

    .main-screen__inner h1 {
      margin: 0 0 27px 0;
      font-size: 40px;
      line-height: 47px;
    }

    .main-screen__inner p {
      max-width: none;
      margin: 0 0 40px 0;
      padding-left: $left-indent;
      font-size: 16px;
      line-height: 158%;
    }

    .main-screen__inner p::before {
      top: 15px;
    }

    .main-screen__inner > a {
      $ml: 3px;
      position: relative;
      max-width: none;
      width: calc(100% - #{$ml});
      margin-left: $ml;
    }

    .main-screen__inner > a::before {
      content: "Бесплатная консультация";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      padding: 17px 31px 17px 31px;
      text-align: center;
    }

    .main-screen__inner > a span {
      @include visually-hidden;
    }
  }
}
