@media (min-width: 0) {
  $left-indent: 97px;
  $column-width: 750px;

  .main-screen {
    display: flex;
    justify-content: center;
    padding: 0;
    overflow: hidden;
  }

  .main-screen__bg {
    position: absolute;
    left: 806px;
    top: 143px;
    width: 705px;
    height: 515px;
    background: url("#{$prefix-css-img}motherboard@1x.png") 0 0 no-repeat;

    @include bg-retina("motherboard@2x.png");
    background-size: 705px 515px;
  }

  .main-screen__bg::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("#{$prefix-css-img}ellipse.svg") 339px 490px no-repeat,
      url("#{$prefix-css-img}ellipse.svg") 174px 491px no-repeat,
      url("#{$prefix-css-img}ellipse.svg") 13px 213px no-repeat,
      url("#{$prefix-css-img}ellipse.svg") 614px 14px no-repeat,
      url("#{$prefix-css-img}ellipse.svg") 64px 14px no-repeat,
      url("#{$prefix-css-img}triangle.svg") 16px 217px no-repeat,
      url("#{$prefix-css-img}triangle-big.svg") 68px 19px no-repeat;
    background-size: 10px 10px, 10px 10px, 10px 10px, 10px 10px, 10px 10px, 325px 280px, 552px 478px;
  }

  .main-screen__scroll-down {
    position: absolute;
    left: 37px;
    bottom: 89px;
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    transform-origin: left bottom;
    transform: rotate(-90deg);
  }

  .main-screen__scroll-down a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.5;
  }

  .main-screen__scroll-down a:hover {
    opacity: 0.3;
  }

  .main-screen__scroll-down a:active {
    opacity: 0.1;
  }

  .main-screen__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: $desktop-container-width;
    padding: 200px 18px 275px 18px;
  }

  .main-screen__inner h1 {
    max-width: $column-width;
    margin: 0 0 27px 0;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #ffffff;
  }

  .main-screen__inner p {
    position: relative;
    max-width: $column-width;
    margin: 0 0 44px 0;
    padding-left: $left-indent;
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    color: #ffffff;
  }

  .main-screen__inner p::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 17px;
    width: 66px;
    height: 2px;
    background-color: #ffffff;
  }

  .main-screen__inner > a {
    display: block;
    max-width: $column-width - $left-indent;
    min-height: 55px;
    margin-left: $left-indent;
    padding: 17px 46px 17px 45px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background: #00b2ff;
    border-radius: 5px;
  }

  .main-screen__inner > a:hover {
    opacity: 0.6;
  }

  .main-screen__inner > a:active {
    opacity: 0.3;
  }
}

