@media (min-width: 0) {
  $columnWidth: 250px;
  $columnCount: 2;
  $gap: 57px;

  @mixin pt-mono-low-case-font {
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: $color-dark;
    opacity: 0.5;
  }

  @mixin pt-mono-upper-case-font {
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $color-dark;
    opacity: 0.5;
  }

  .page-footer {
    display: flex;
    justify-content: center;
    min-height: 318px;
    margin-top: auto;
    padding-top: 65px;
    background-color: hsla(60, 100%, 50%, 0.05);
    overflow: hidden;
  }

  .page-footer h3 {
    margin: 0 0 25px 0;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-dark;
  }

  .page-footer__inner {
    display: flex;
    flex-wrap: wrap;
    width: $desktop-container-width;
    padding-left: 20px;
  }

  .page-footer__primary {
    position: relative;
    width: 425px;
    min-height: 200px;
  }

  .page-footer__primary::after,
  .page-footer__primary::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 1px;
    background-color: hsla(120, 3%, 40%, 0.2);
  }

  .page-footer__primary::before {
    transform: translate(-100%, 0);
  }

  .page-footer__primary > p {
    display: none;
  }

  .page-footer__logo {
    margin-bottom: 54px;
  }

  .page-footer__menu {
    width: $columnWidth * $columnCount + $gap;
    margin-right: 99px;
  }

  .page-footer__menu ul {
    list-style: none;
    column-count: $columnCount;
    column-gap: $gap;
    margin: 0 0 0 -2px;
    padding: 0;
  }

  .page-footer__menu li {
    display: inline-block;
    width: $columnWidth;
  }

  .page-footer__menu a {
    @include pt-mono-low-case-font;
    text-decoration: none;
  }

  .page-footer__our-contacts address {
    @include pt-mono-low-case-font;
  }

  .page-footer__our-contacts a {
    text-decoration: none;
    color: $color-dark;
  }

  .page-footer__copyright {
    display: flex;
    margin-right: 142px;
  }

  .page-footer__copyright p {
    @include pt-mono-upper-case-font;
    margin-top: 14px;
  }

  .page-footer__copyright p:first-child {
    margin-right: 75px;
  }

  .page-footer__container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  .page-footer__container p {
    margin-top: 14px;
  }

  .page-footer__terms a {
    @include pt-mono-upper-case-font;
    text-decoration: none;
  }

  .page-footer__development {
    margin-right: 7px;
  }

  .page-footer__development a {
    @include pt-mono-upper-case-font;
    text-decoration: none;
  }
}

