@media (min-width: 0) {
  $form_width: 573px;
  $inner_right: 127px;

  @mixin form-field() {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    border: none;

    &::placeholder {
      font-family: "PT Mono", "Arial", sans-serif;
      color: #ffffff;
    }

    &:hover::placeholder {
      opacity: 0.6;
    }

    &:focus::placeholder {
      opacity: 0.6;
    }
  }

  .questions {
    position: relative;
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: $color-blue;
  }

  .questions__bg {
    $width: $desktop-container-width;
    $diff1: "(100vw - #{$width}) / 2";
    $diff2: "100vw - #{$width}";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("#{$prefix-css-img}paper-airplane@1x.png") calc(#{$diff1} + 110px) 161px no-repeat,
      url("#{$prefix-css-img}triangles-desktop.svg") calc(#{$diff1} - 65px) -60px no-repeat,
      url("#{$prefix-css-img}triangles-left-right.svg") calc(#{$diff1} + 1316px) 35px no-repeat;

    @media (max-width: $desktop-container-width - 1) {
      background: url("#{$prefix-css-img}paper-airplane@1x.png") calc(#{$diff2} + 110px) 161px no-repeat,
        url("#{$prefix-css-img}triangles-desktop.svg") calc(#{$diff2} - 65px) -60px no-repeat,
        url("#{$prefix-css-img}triangles-left-right.svg") calc(#{$diff1} + 1316px) 35px no-repeat;
      background-size: 511px 288px, 671px 641px, 466px 670px;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("#{$prefix-css-img}paper-airplane@2x.png"),
        url("#{$prefix-css-img}triangles-desktop.svg"),
        url("#{$prefix-css-img}triangles-left-right.svg");
    }
    background-size: 511px 288px, 671px 641px, 466px 670px;
  }

  .questions__inner {
    display: flex;
    justify-content: flex-end;
    width: $desktop-container-width;
    padding: 91px $inner_right 73px 30px;
  }

  .questions__inner form {
    width: $form_width;
    padding: 0 0 0 0;
  }

  .questions__inner h2 {
    margin: 0 0 12px 0;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
  }

  .questions__sub-title {
    font-family: "PT Mono", "Arial", sans-serif;
    margin: 0 0 53px 4px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }

  .questions__row {
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px 0;
    padding: 0 0 0 3px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }

  .questions__name input {
    @include form-field();
    width: 270px;
    height: 50px;
    padding: 0 16px 6px;
  }

  .questions__phone input {
    @include form-field();
    width: 269px;
    height: 50px;
    padding: 0 16px 6px;
  }

  .questions__question {
    width: 100%;
  }

  .questions__question label {
    display: flex;
    width: 100%;
  }

  .questions__question textarea {
    @include form-field();
    resize: none;
    width: 100%;
    min-height: 154px;
    padding: 13px 16px;
  }

  .questions__inner button {
    width: 270px;
    margin: 3px 0 0 0;
    padding: 0 20px;
    min-height: 45px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .questions__agreement {
    display: flex;
    width: 262px;
  }

  .questions__agreement label {
    position: relative;
    padding: 11px 15px 5px 32px;
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.8);

    &:hover::before {
      opacity: 0.6;
    }

    &:active::before {
      opacity: 0.3;
    }
  }

  .questions__agreement label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    width: 16px;
    height: 16px;
    border: 1px solid #ffffff;
  }

  .questions__agreement input:checked + label::before {
    background: url("#{$prefix-css-img}check-mark.svg") no-repeat 3px 4px;
  }

  @media (max-width: $desktop-width - 1) {
    .questions__bg {
      display: none;
    }

    .questions__inner {
      justify-content: center;
      width: $tablet-container-width;
      padding: 80px 28px 62px 30px;
    }

    .questions__inner form {
      width: 594px;
    }

    .questions__inner h2 {
      margin: 0 0 19px 0;
      font-size: 32px;
      line-height: 140.62%;
    }

    .questions__sub-title {
      margin: 0 0 56px 4px;
    }

    .questions__row {
      margin: 0 0 41px 0;
    }

    .questions__name input {
      width: 280px;
      height: 52px;
    }

    .questions__phone input {
      width: 279px;
      height: 52px;
    }

    .questions__question textarea {
      min-height: 160px;
      padding: 13px 17px;
    }

    .questions__inner button {
      margin: 3px 0 0 0;
      width: 280px;
      min-height: 47px;
    }

    .questions__agreement {
      width: 272px;
    }

    .questions__agreement label {
      padding: 11px 15px 5px 34px;
    }

    .questions__agreement label::before {
      top: 13px;
      width: 17px;
    }
  }

  @media (max-width: $tablet-width - 1) {
    .questions__inner {
      justify-content: flex-start;
      width: $mobile-width;
      padding: 31px 15px 42px 12px;
    }

    .questions__inner form {
      width: 297px;
    }

    .questions__inner h2 {
      margin: 0 0 12px 3px;
      font-size: 28px;
    }

    .questions__sub-title {
      margin: 0 0 26px 4px;
    }

    .questions__row {
      flex-direction: column;
      justify-content: flex-start;
      margin: 0;
    }

    .questions__name {
      margin: 0 0 30px 0;
    }

    .questions__name input {
      width: 100%;
    }

    .questions__phone {
      margin: 0 0 30px 0;
    }

    .questions__phone input {
      width: 100%;
    }

    .questions__question {
      margin: 0 0 30px 0;
    }

    .questions__question textarea {
      min-height: 104px;
    }

    .questions__inner button {
      width: 100%;
      margin: 0 0 30px 0;
    }

    .questions__agreement label {
      padding: 0 15px 0 34px;
    }

    .questions__agreement label::before {
      top: 1px;
    }
  }
}
