.social-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.social-list svg {
  display: block;
}

.social-list li {
  margin-right: 15px;
}

.social-list li:last-child {
  margin-right: 0;
}
